 /* Strike through the when completed */
  .active{
    text-decoration: line-through;
  }

  /* Strike through remove when not completed*/
  .notActive{
    text-decoration: none;
  }

  /* Cursor pointer when hover above li */
  li{
    cursor: pointer;
  }